{% extends 'layout.html' %}
{% load static %}
{% block content %}
<style>
    .layout-boxed-bg {
        background: url(../static/global_assets/images/backgrounds/boxed_bg.png) repeat
    }

    .layout-boxed {
        box-shadow: -4px 2px 4px rgba(0, 0, 0, .15), 4px 2px 4px rgba(0, 0, 0, .15)
    }
</style>

<div class="content">
    <div class="mb-3 pt-2">
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-4">
                <h3 class="mb-0 font-weight-semibold">
                    COVID-19 {{country}} Statistics
                </h3>
            </div>
            <div class="col-md-3">
                <span class="font-weight-semibold mb-0 text-danger-600 ">Data Updated at: {{date}}</span>
            </div>
        </div>
    </div>

    <div class="card card-body">
        <div class="row">
            <div class="col-md-2">
                <div class="media">
                    <div class="media-body ">
                        <div class="d-flex">
                            <h1 class="font-weight-semibold mb-0">{{result.cases.total}}</h1>

                        </div>
                        <span class="text-uppercase font-size-xs">Confirmed &nbsp;
                            <i class="icon-stats-growth icon-2x text-danger-800 opacity-75"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="media">
                    <div class="media-body ">
                        <div class="d-flex">
                            <h1 class="font-weight-semibold mb-0"> {{result.cases.new}}</h1>
                        </div>
                        <span class="text-uppercase font-size-xs">New Cases &nbsp;
                            <i class="icon-stairs-up icon-2x text-warning-800 opacity-75"></i>
                        </span>
                    </div>
                </div>
            </div>


            <div class="col-md-2">
                <div class="media">
                    <div class="media-body ">
                        <div class="d-flex">
                            <h1 class="font-weight-semibold mb-0">
                                {% if result.tests.total != None %}
                                 {{result.tests.total}}
                                {% else %}
                                {{'-'}}
                                {%endif%}
                               </h1>
                        </div>
                        <span class="text-uppercase font-size-xs">Tests &nbsp;
                            <i class="icon-collaboration icon-2x text-warning-800 opacity-75"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="media">
                    <div class="media-body ">
                        <div class="d-flex">
                            <h1 class="font-weight-semibold mb-0"> {{result.cases.active}}</h1>
                            <span class="badge bg-danger-400 badge-pill align-self-center ml-2">
                                {{result.cases.new}}</span>
                        </div>
                        <span class="text-uppercase font-size-xs">Active &nbsp;
                            <i class="icon-stats-growth2 icon-2x text-danger-400 opacity-75"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="media">
                    <div class="media-body ">
                        <div class="d-flex">
                            <h1 class="font-weight-semibold mb-0"> {{result.cases.recovered}}</h1>
                        </div>
                        <span class="text-uppercase font-size-xs">Recovered &nbsp;
                            <i class="icon-pulse2 icon-2x text-success-400 opacity-75"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="media">
                    <div class="media-body ">
                        <div class="d-flex">
                            <h1 class="font-weight-semibold mb-0">{{result.deaths.total}}</h1>
                            <span class="badge bg-danger-400 badge-pill align-self-center ml-2">
                                 {% if result.deaths.new != None %}
                                {{result.deaths.new}}
                                {% else %}
                                {{'0'}}
                                {%endif%}</span>
                        </div>
                        <span class="text-uppercase font-size-xs">Deaths &nbsp;
                            <i class="icon-minus3 icon-2x text-danger-400 opacity-75"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Chart shows total cases</h5>
                </div>

                <div class="card-body">
                    <div class="chart-container">
                        <div class="chart has-fixed-height" id="line_zoom"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Chart shows daily new cases</h5>
                </div>

                <div class="card-body">
                    <div class="chart-container">
                        <div class="chart has-fixed-height" id="line_zoom2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script>
    var EchartsLines = function () {
        var _lineChartExamples = function () {
            if (typeof echarts == 'undefined') {
                console.warn('Warning - echarts.min.js is not loaded.');
                return;
            }
            var line_zoom_element = document.getElementById('line_zoom');
             var line_zoom_element2 = document.getElementById('line_zoom2');
            if (line_zoom_element) {
                var deaths = {{ arr2 }}
            var recovered = {{ arr3 }}
        var line_zoom = echarts.init(line_zoom_element);
        line_zoom.setOption({
            // Define colors
            color: ["#424956", "#d74e67", '#0092ff'],
            // Global text styles
            textStyle: {
                fontFamily: 'Roboto, Arial, Verdana, sans-serif',
                fontSize: 13
            },
            // Chart animation duration
            animationDuration: 750,
            // Setup grid
            grid: {
                left: 0,
                right: 40,
                top: 35,
                bottom: 60,
                containLabel: true
            },

            // Add legend
            legend: {
                data: ['Confirmed', 'Deaths', 'Recovered'],
                itemHeight: 8,
                itemGap: 20
            },

            // Add tooltip
            tooltip: {
                trigger: 'axis',
                backgroundColor: 'rgba(0,0,0,0.75)',
                padding: [10, 15],
                textStyle: {
                    fontSize: 13,
                    fontFamily: 'Roboto, sans-serif'
                }
            },

            // Horizontal axis
            xAxis: [{
                type: 'category',
                boundaryGap: false,
                axisLabel: {
                    color: '#333'
                },
                axisLine: {
                    lineStyle: {
                        color: '#999'
                    }
                },
                data: {{ arr4 | safe}}
        }],

    // Vertical axis
    yAxis: [{
        type: 'value',
        axisLabel: {
            formatter: '{value} ',
            color: '#333'
        },
        axisLine: {
            lineStyle: {
                color: '#999'
            }
        },
        splitLine: {
            lineStyle: {
                color: ['#eee']
            }
        },
        splitArea: {
            show: true,
            areaStyle: {
                color: ['rgba(250,250,250,0.1)', 'rgba(0,0,0,0.01)']
            }
        }
    }],

        // Zoom control
        dataZoom: [
            {
                type: 'inside',
                start: 0,
                end: 100
            },
            {
                show: true,
                type: 'slider',
                start: 0,
                end: 100,
                height: 40,
                bottom: 0,
                borderColor: '#ccc',
                fillerColor: 'rgba(0,0,0,0.05)',
                handleStyle: {
                    color: '#585f63'
                }
            }
        ],

            // Add series
            series: [
                {
                    name: 'Confirmed',
                    type: 'line',
                    smooth: true,
                    symbolSize: 6,
                    itemStyle: {
                        normal: {
                            borderWidth: 2
                        }
                    },
                    data: {{ arr1 }}
                        },
                {
                    name: 'Deaths',
                    type: 'line',
                    smooth: true,
                    symbolSize: 6,
                    itemStyle: {
                        normal: {
                            borderWidth: 2
                        }
                    },
                    data: deaths
                },
                {
                    name: 'Recovered',
                    type: 'line',
                    smooth: true,
                    symbolSize: 6,
                    itemStyle: {
                        normal: {
                            borderWidth: 2
                        }
                    },
                    data: recovered
                }
            ]
                });
            }

      if (line_zoom_element2) {   
        var line_zoom = echarts.init(line_zoom_element2);
        line_zoom.setOption({
            // Define colors
            color: ["#424956", "#d74e67", '#0092ff'],
            // Global text styles
            textStyle: {
                fontFamily: 'Roboto, Arial, Verdana, sans-serif',
                fontSize: 13
            },
            // Chart animation duration
            animationDuration: 750,
            // Setup grid
            grid: {
                left: 0,
                right: 40,
                top: 35,
                bottom: 60,
                containLabel: true
            },

            // Add legend
            legend: {
                data: ['Cases'],
                itemHeight: 8,
                itemGap: 20
            },

            // Add tooltip
            tooltip: {
                trigger: 'axis',
                backgroundColor: 'rgba(0,0,0,0.75)',
                padding: [10, 15],
                textStyle: {
                    fontSize: 13,
                    fontFamily: 'Roboto, sans-serif'
                }
            },

            // Horizontal axis
            xAxis: [{
                type: 'category',
                boundaryGap: false,
                axisLabel: {
                    color: '#333'
                },
                axisLine: {
                    lineStyle: {
                        color: '#999'
                    }
                },
                data: {{ arr5 | safe}}
        }],

    // Vertical axis
    yAxis: [{
        type: 'value',
        axisLabel: {
            formatter: '{value} ',
            color: '#333'
        },
        axisLine: {
            lineStyle: {
                color: '#999'
            }
        },
        splitLine: {
            lineStyle: {
                color: ['#eee']
            }
        },
        splitArea: {
            show: true,
            areaStyle: {
                color: ['rgba(250,250,250,0.1)', 'rgba(0,0,0,0.01)']
            }
        }
    }],

        // Zoom control
        dataZoom: [
            {
                type: 'inside',
                start: 0,
                end: 100
            },
            {
                show: true,
                type: 'slider',
                start: 0,
                end: 100,
                height: 40,
                bottom: 0,
                borderColor: '#ccc',
                fillerColor: 'rgba(0,0,0,0.05)',
                handleStyle: {
                    color: '#585f63'
                }
            }
        ],

            // Add series
            series: [
                {
                    name: 'Cases',
                    type: 'line',
                    smooth: true,
                    symbolSize: 6,
                    itemStyle: {
                        normal: {
                            borderWidth: 2
                        }
                    },
                    data: {{ arr6 }}
                        }
            ]
                });
            }

    var triggerChartResize = function () {
        line_zoom_element && line_zoom.resize();
         line_zoom_element2 && line_zoom2.resize();
    };


    // On sidebar width change
    $(document).on('click', '.sidebar-control', function () {
        setTimeout(function () {
            triggerChartResize();
        }, 0);
    });

    // On window resize
    var resizeCharts;
    window.onresize = function () {
        clearTimeout(resizeCharts);
        resizeCharts = setTimeout(function () {
            triggerChartResize();
        }, 200);
    };
        };

    return {
        init: function () {
            _lineChartExamples();
        }
    }
    }();
    document.addEventListener('DOMContentLoaded', function () {
        EchartsLines.init();
    });
</script>




{%endblock%}